<header>
    <h1>Tech-Blog</h1>
    <div class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Login</a></li>
        </ul>
    </div>
</header>
<main class="container">
{{#each posts}}
<article>
    <header>
        <h2>{{title}}</h2>
        <p>{{dateCreated}}</p>
        <p>{{creator}}</p>
        <p>{{contents}}</p>
    </header>
    <h5>Comments</h5>
    <div>
        {{#each comments}}
        <p>{{text}}</p>
        <p>{{creator}}</p>
        <p>{{dateCreated}}</p>
        {{/each}}
    </div>
</article>  
{{/each}}
</main>